.textarea {
    resize: none;
    width: -webkit-fill-available;
    height: 48px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 12px 20px;
    background: var(--gray-white);
    border: 1px solid var(--gray-100);
    border-radius: 12px;
    font-size: 16px;
    line-height: 24px;
}