.snackbarProvider {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    padding: 10px 10px 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    pointer-events: none;
    background: none;
}