.input {
    width: 100%;
    height: 48px;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid var(--gray-100);
    color: var(--gray-700);
    border-radius: 12px;
}

.input:hover {
    border: 1px solid var(--x-color);
}

.input:focus {
    outline: none;
    border: 1px solid var(--x-color-dark);
}

.input::placeholder {
    color: #B1B1B7;
}

.invalidInputText {
    line-height: 16px;
    font-size: 12px;
    color: var(--danger-400);
}

.invalidInput {
    border: 1px solid var(--danger-400);
}