.button {
    height: 48px;
    padding: 12px 20px;
    box-sizing: border-box;
    background: var(--x-color);
    color: var(--gray-white);
    border-radius: 12px;
    letter-spacing: 0.24px;
    font-size: 16px;
    border: none;
}

.button:disabled {
    background: var(--x-color);
    opacity: 0.3;
}

.button:hover:enabled {
    background: #3BA189;
}