.button {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px 16px;
    font-weight: 500;
    line-height: 24px;
    box-sizing: border-box;
    background: var(--gray-50);
    color: var(--gray-700);
    border-radius: 12px;
    letter-spacing: 0.24px;
    font-size: 16px;
}

.button:disabled {
    background: var(--gray-50);
    opacity: 0.3;
}

.button:hover:enabled {
    background: var(--gray-100);
}