.playerInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.name {
    font-size: 20px;
    line-height: 24px;
    color: var(--gray-700);
}

.winRate {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: var(--gray-400);
}