.gameStep {
    display: flex;
    width: 400px;
    min-height: 50px;
    flex-direction: row;
    gap: 12px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    background: var(--gray-700);
    border-radius: 12px;
    font-size: 20px;
    letter-spacing: 0.15px;
    color: var(--gray-white);
}

.cell {
    width: 218px;
    height: 218px;
    background: var(--gray-white);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background: var(--gray-50);
}

.cellXWin {
    background: var(--x-background);
}

.cellOWin {
    background: var(--o-background);
}

.gameBoard {
    width: 663px;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 4px;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    width: 663px;
    height: 100%;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.gameTime {
    padding: 24px;
    background: #EDEDED;
    border-radius: 12px;
    font-weight: 900;
    font-size: 34px;
    color: var(--gray-700);
}
