.msgsContainer {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    overflow-x: clip;
    height: 100%;
    padding: 0;
    gap: 12px;
}

.container {
    position: relative;
    height: 723px;
}

.msgsContainer::-webkit-scrollbar {
    display: none;
}

.noMessages {
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
    color: var(--gray-400);
}

.fadeTop {
    position: absolute;
    height: 100px;
    width: 100%;
    background: linear-gradient(180deg, #F6F6F6 10%, rgba(255, 255, 255, 0) 100%);
}

.fadeBottom {
    position: absolute;
    top: 98%;
    height: 32px;
    width: 100%;
    background: linear-gradient(180deg, #F6F6F6 50%, rgba(255, 255, 255, 0) 100%);
    transform: rotate(-180deg);

}

.visible {
    opacity: 1;
    transition: opacity .2s linear;
}

.hidden {
    opacity: 0;
    transition: opacity .2s linear;
}