.chatContainer {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    height: 791px;
    justify-content: space-between;
    margin-bottom: 88px;
    gap: 20px;
    width: 412px;
    line-height: 24px;
    letter-spacing: 0.24px;
}