:root {
    --background: #F6F6F6;
    --x-color: #60C2AA;
    --x-background: #CFEDE6;
    --o-color: #E38BAC;
    --o-background: #F3BBD0;
    --x-color-dark: #3BA189;
    --gray-white: #FFFFFF;
    --gray-50: #F7F7F7;
    --gray-100: #DCDCDF;
    --gray-400: #898993;
    --gray-700: #373745;
    --free: #A8D37F;
    --playing: #87CAE8;
    --blocked: #EC7777;
    --success-400: #69B849;
    --danger-400: #E93E3E;
}

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--gray-700);
}

body {
    margin: 0;
    padding: 0;
    background: var(--background);
}

button {
    border: none;
    cursor: pointer;
}

.elevation-1 {
    box-shadow: 0 2px 6px rgba(44, 57, 121, 0.1);
}
