.msgsContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    padding: 0;
    gap: 12px;
    mask-image: linear-gradient(to bottom,
    transparent 0,
    #F6F6F6 var(--top-mask-size, 0px),
    #F6F6F6 calc(100% - var(--bottom-mask-size, 0px)),
    transparent 100%);
    scrollbar-width: none;
}

.msgsContainer > :first-child {
    margin-top: auto;
}

.isTopOverflowing {
    --top-mask-size: 100px;
}

.isBottomOverflowing {
    --bottom-mask-size: 32px;
}

.msgsContainer::-webkit-scrollbar {
    display: none;
}

.noMessages {
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
    color: var(--gray-400);
}
