.paper {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(44, 57, 121, 0.09);
    background: var(--gray-white);
    padding: 32px;
    gap: 24px;
    border-radius: 40px;
    box-sizing: border-box;
    height: fit-content;
}
