.other {
    align-self: flex-start;
    border-radius: 16px 16px 16px 0;
}

.me {
    align-self: flex-end;
    border-radius: 16px 16px 0 16px;
}

.msgContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    max-width: 352px;
    background: var(--gray-white);
}

.msgHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.name {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.x {
    color: var(--x-color);
}

.o {
    color: var(--o-color);
}

.msgBody {
    overflow-wrap: break-word;
}

.time {
    /* Body / 14px regular */
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.25px;
    color: var(--gray-400);
}