.radioButton {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    padding: 8px;
    border-radius: 100%;
}

.on {
    background: var(--x-color);
}

.off {
    background: var(--gray-white);
    border: 1px solid #DCDCDF;
}