.login {
    align-items: center;
    padding: 40px 24px;
    gap: 20px;
    border-radius: 16px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.dogImage {
    width: 132px;
    height: 132px;
}

.button {
    margin-top: 8px;
}
