.playersList {
}

.playersList table th:first-child {
    width: 40%;
}

.playersList table thead tr {
    height: 48px;
}

.playersList table tbody tr {
    height: 40px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}