.history {

}

.history table {
    border-spacing: 0 8px;
}

.history table th:first-child {
    width: 70%;
}

.history table thead tr {
    height: 40px;
}

.playersCell {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 12px;
}

.person {
    display: flex;
    align-items: center;
    gap: 8px;
}

.first {
    width: 40%;
}

.vs {
    font-weight: 700;
}

