.activePlayers {
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status {
    display: flex;
    justify-content: flex-end;
    gap: 80px;
    align-items: center;
}