.snackbar {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    color: var(--gray-white);
    background: #27272fff;
    opacity: 0.90;
    padding: 15px;
    width: fit-content;
    border-radius: 5px;
    pointer-events: all;
}