.base {
    color: var(--gray-white);
    width: 100px;
    box-sizing: border-box;
    text-align: center;
    padding: 4px 12px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
}

.ready {
    background: var(--free);
}

.blocked {
    background: var(--blocked);
}

.playing {
    background: var(--playing);
}