header {
    display: flex;
    width: -webkit-fill-available;
    height: 32px;
    background: var(--gray-white);
    border-radius: 0 0 16px 16px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
    left: 0;
    top: 0;
}

.navPanel {
    display: flex;
    gap: 16px;
    height: 32px;
    align-items: center;
}

.link {
    padding: 4px 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.24px;
    text-decoration: none;
}

.active {
    background: var(--x-color);
    border-radius: 200px;
    color: white;
}